# Ignore VCS
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Backup/temp
*.swp
*.bak
*.tmp
*.orig
*~
~*

# IDE/editor
.project
.idea/
.vscode/

# Media
*.pdf
*.gif
*.png
*.jpg
*.jpeg

# Lock/package/cache
*.lock
*.pack
node_modules/
